
body{
background-image: url(../IMG/12.jpg);
background-position: 0% 0%;/*Con las palabras clave center, bottom, right, left, top puedes establecer la posición del fondo*/
background-repeat: no-repeat;/*La imagen de fondo solo aparecerá una vez.*/
background-size: cover;/*Gracias a establecer el valor en cover nos aseguramos de que ocupe todo el espacio disponible dentro del elemento.*/

/*background-attachment: fixed;La imagen no se desplazará con la página y permanecerá fija en su contenedor y permanecerá posicionada según la ventana gráfica, así que es probable que solo sea visible una parte de esta.*/

}
div{
    background-color: aqua;  
    
  }
#Box{
    text-align: center;
    width: 300px;
    /*float: left;*/
    border: 5px solid rgb(216, 133, 133);
    border-radius: 15px;
    padding: /*arriba*/10px /*derecha*/30px /*abajo*/20px /*izquierda*/0px;
    margin-top: 20px;/*el margen de arriba*/
}

.texBox{
    background-color: rgb(216, 133, 133);
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
}

.entrarBox{
    background-color: rgb(216, 133, 133);
    border-radius: 5px;
}

#mensaje{
    text-align: center;
    width: 180px;
    /*float: left;*/
    border: 5px solid rgb(216, 133, 133);
    border-radius: 15px;
    padding: /*arriba*/10px /*derecha*/10px /*abajo*/10px /*izquierda*/0px;
    margin-top: 20px;/*el margen de arriba*/
}
